.menu-items{
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-background-color: #fff;
    -fx-border-width: 0;
    -fx-alignment: CENTER-LEFT;
}
.menu-items:hover{
    -fx-text-fill: #888;
    -fx-cursor: hand;
}
.search{
    -fx-padding: 5px 5px 5px 10px;
    -fx-font-size: 13px;
    -fx-text-fill: #555;
    -fx-font-family: Arial;
    -fx-background-color:transparent;
    -fx-border-color: #aaaaaa;
    -fx-border-width:0.8px;
    -fx-border-radius:30px;
}

.search:focused{
    -fx-border-width:1.5px;
}